.сitizen-poet__subtitle {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #070707;
  white-space: pre-line;
}
