.formThank__title {
    margin-top: 179px;
    margin-bottom: 0;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    line-height: 63px;
    color: #070707;
    text-align: center;
    align-items: center;
  }